:root {
  --main-color: #ed6436;
  --main-text-color: #030;
}
* {
  box-sizing: border-box;
}
html {
  font-family: Nunito, sans-serif;
  color: var(--main-text-color);
}
button {
  font-family: Nunito, sans-serif;
}
body {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.main-title {
  color: var(--main-color);
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
}
@media (min-width: 900px) {
  .main-title {
    font-size: 1.4rem;
    text-align: left;
  }
}
.subtitle {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 20px;
}
@media (min-width: 900px) {
  .subtitle {
    font-size: 3.5rem;
    text-align: left;
  }
}
.button {
  border: 2px solid var(--main-color);
  border-radius: 0 50px 50px 50px;
  text-transform: uppercase;
}
.button--big {
  padding: 0.5rem 1rem;
}
.button--solid {
  background-color: var(--main-color);
  color: #fff;
  font-weight: bold;
}
