:root {
  --main-color: #ed6436;
  --main-text-color: #030;
}
* {
  box-sizing: border-box;
}
html {
  font-family: Nunito, sans-serif;
  color: var(--main-text-color);
}
button {
  font-family: Nunito, sans-serif;
}
body {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.button {
  border: 2px solid var(--main-color);
  border-radius: 0 50px 50px 50px;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.2s;
  cursor: pointer;
}
.button--big {
  padding: 0.5rem 1rem;
}
.button--small {
  padding: 0.2rem 0.5rem;
}
.button--solid {
  background-color: var(--main-color);
  color: #fff;
}
.button--solid:hover {
  background-color: transparent;
  color: var(--main-color);
}
.button--transparent {
  background-color: transparent;
}
.button--transparent:hover {
  background-color: var(--main-color);
  color: #fff;
}
.main-content {
  margin: 0 50px;
}
@media (min-width: 900px) {
  .main-content {
    margin: 0 auto;
    width: 800px;
  }
}
.activities-list__header {
  display: flex;
  flex-direction: column;
}
@media (min-width: 900px) {
  .activities-list__header {
    flex-direction: row;
    justify-content: space-between;
  }
}
.activities-list__button-wrapper {
  text-align: center;
}
@media (min-width: 900px) {
  .activities-list__button-wrapper {
    align-self: flex-end;
  }
}
.activities-list__title {
  color: var(--main-color);
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
}
@media (min-width: 900px) {
  .activities-list__title {
    font-size: 1.4rem;
    text-align: left;
  }
}
.activities-list__subtitle {
  text-align: center;
  font-size: 2.5rem;
  line-height: 1;
  margin-top: 20px;
}
@media (min-width: 900px) {
  .activities-list__subtitle {
    font-size: 3.5rem;
    text-align: left;
  }
}
